<div id="flash_messages" 
    class="position-fixed top-0 start-50 translate-middle-x mt-1 z-1050" 
    style="min-width: 300px; z-index: 9999;">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == "notice" ? "success" : "danger" %> flash-message" data-controller="flash">
      <div class="text-center">
        <%= message %>
      </div>
    </div>
  <% end %>
</div>
