<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex align-items-center bg-white border rounded-pill px-2 shadow-sm" style="min-width: 60px;">
    <%= image_tag("icons/coin.svg", size: "20x20", class: "me-2") %>
    <strong class="text-dark"><%= current_user.coin %></strong>
  </div>
  <div>
    ガチャ数 <%= current_user.user_gacha_lists.count %> 回
    収集率 <%= (GachaList.count > 0 ? (current_user.user_gacha_lists.distinct.count(:gacha_list_id).to_f / GachaList.count * 100).floor : 0) %>%
  </div>
</div>
