<div class="text-center">
  <span class="border">
    ゲストユーザーのデータは一定時間で削除されます。<br>
    継続的にご利用いただくにはユーザー登録が必要です。<br>
    <a class="btn btn-primary" href=/ role="button">ログイン</a>
    <a class="btn btn-primary" href="#" role="button">新規登録</a>
  </span>
</div>

<div class="text-center">メインメニュー</div>
<div class="d-grid gap-2 d-md-block text-center">
  <button type="button" class="btn btn-outline-primary">カウンター</button>
  <button type="button" class="btn btn-outline-primary">カウント履歴</button>
  <button type="button" class="btn btn-outline-primary">カウント履歴</button>
  <button type="button" class="btn btn-outline-primary">カウント履歴</button>
</div>