<div class="text-center category-nav">
  <% @categories.each do |category| %>
    <% is_selected = @selected_category.id == category.id %>
    <%= link_to category.name, sushi_items_path(category_id: category.id), 
        class: "btn #{is_selected ? 'btn-navy' : 'text-navy'} fw-bold spsize-category" %>
  <% end %>
</div>

<div class="sushi-grid mb-6">
  <%= render @sushi_items %>
</div>

<div class="btn-nav">
  <%= link_to '寿司追加', new_sushi_item_path, class: 'btn btn-navy fw-bold btn-shadow' %>
</div>
