<%= turbo_stream.update "modal_frame" do %>
  <div class="modal-content position-relative">
    <%= render "form", sushi: @sushi_item %>
  </div>
  <button type="button" class="btn btn-secondary mt-2" data-action="click->modal#close">キャンセル</button>
<% end %>