<%= turbo_stream.replace "count_#{@sushi_item.id}" do %>
  <div id="count_<%= @sushi_item.id %>">
    <%= @sushi_item.sushi_item_counters.find_by(counter_id: @counter.id)&.count || 0 %>
  </div>
<% end %>