<%= link_to edit_counter_path(counter), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
  <div>
    <strong><%= l(counter.eaten_at, format: :long) %></strong>
    <span class="ms-2"><%= counter.store_name %></span>
  </div>
  <div class="fw-bold">
    <%= counter.total_count %>貫
  </div>
<% end %>
