@import "bootstrap/scss/bootstrap";

body {
  font-size: 1rem; // 通常サイズ（PCなど）
  background-color: #f8f9fa; // 任意の背景色（例：Bootstrapのlightグレー）
}


@media (max-width: 576px) {
  body {
    font-size: 0.9rem; // スマホ用に少し小さく
  }
}

.smahosize {
  font-size: 1.2rem; //.常サイズ

  @media (max-width: 576px) {
    font-size: 1.1rem; // スマホサイズ
  }
}

.main-container {
  padding: 0 0.5rem 1rem 0.5rem; /* 上 0、右下左 1rem */ // 外側に余白を追加
}

.bg-navy {
  background-color: #0A2D88; // 任意の色コード
}

.text-navy {
  color: #0A2D88; // 任意の色コード

  &:hover {
    color: #3C5FC0;  // 少し暗いネイビー
  }
}

.text-navy2 {
  color: #0A2D88; // 任意の色コード
}

.border-navy {
  border: 2px solid #0A2D88; // 好きな色コードを指定
}

.btn-navy {
  background-color: #0A2D88;     // ネイビー背景
  color: #ffffff;                // 白文字

  &:hover {
    background-color: #2549A6;  // 少し明るいネイビー
    color: #ffffff;
  }
}

.btn-outline-navy {
  background-color: #ffffff;
  color: #0A2D88;

  &:hover {
    background-color: #f8f9fa;  // 少し明るいネイビー
    color: #ffffff;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.bottom-nav {
  height: 60px;
  background: #fff;
  border-top: 1px solid #ccc;
  z-index: 1030;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    flex: 1;
    text-align: center;
    height: 100%;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 0.75rem;
    color: #0A2D88;
    text-decoration: none;

    &:hover {
      background-color: #eef2ff;
      color: #0a2e88da;
    }
  }

  .icon-invert {
    width: 21.82px;
    height: 21.82px;
    filter: invert(13%) sepia(51%) saturate(5143%) hue-rotate(221deg) brightness(86%) contrast(96%);
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .nav-link i {
    margin-bottom: 3px;
    
    font-size: 1.3rem;
  }
}




.menu-card {
  display: block;
  padding: 0.2rem 0.5rem;
  border: 2px solid #0A2D88; // ネイビー色
  border-radius: 1rem;
  color: #0A2D88;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #eef2ff;
    color: #0a2e88da;
  }

  .menu-icon {
    margin-bottom: 0.5rem;
    font-size:48px;
  }

  .menu-icon-svg {
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
  color: #0A2D88;
  }

  .menu-label {
    font-weight: 600;
    font-size: 1rem;

    @media (max-width: 576px) {
    font-size: 0.8rem; // スマホサイズ
    }
  }

  .icon-invert {
    width: 48px;
    height: 48px;
    filter: invert(13%) sepia(51%) saturate(5143%) hue-rotate(221deg) brightness(86%) contrast(96%);
  }
}


.sushi-grid {
  display: grid;
  @media (max-width: 576px) {
  grid-template-columns: repeat(2, 1fr);
  }
    @media (min-width: 900px) {
  grid-template-columns: repeat(4, 1fr);
  }
    @media (min-width: 1200px) {
  grid-template-columns: repeat(5, 1fr);
  }
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 10px;
}

.sushi-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  padding: 8px;
  padding-top: 1.3rem;
  touch-action: manipulation; /* ← ズーム無効 + タップ操作を許可 */
}

.count-display {
  position: relative;
}

.sushi-img {
  max-width: 200px;
  max-height: 80px;
}

.sushi-count {
  font-size: 32px;
  font-weight: bold;
  color: black;
  min-width: 40px;
  text-align: center;
}

.count-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.count-btn {
  width: 46px;
  height: 46px;
  background-color: #0A2D88;
  color: white;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

  font-size: 0; /* ← ボタン内テキストサイズをゼロにしてアイコンだけ表示 */  
}

.count-btn i {
  font-size: 40px;     /* アイコンサイズを指定 */
  line-height: 1;      /* アイコン上下の余白をなくす */
  vertical-align: middle;
  pointer-events: none; /* アイコンがクリック妨げないように */
}

.btn-icon {
  width: 12.61px;
  height: 14.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
}

.btn-icon-form {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 14.86px;
  width: 12.61px;
}

.action-buttons {
  background-color: rgba(255, 255, 255, 0.524);
  display: inline-flex;  
  border-radius: 8px;
}

.spsize-category{
  font-size: 1.2rem; //.常サイズ

  @media (max-width: 576px) {
    font-size: 0.75rem; // スマホサイズ
  }
}

.category-nav {
  position: sticky;
  top: 0;
  z-index: 500; /* 必要に応じて上に表示されるよう調整 */
  background-color: #f8f9fa; /* 背景色を指定しないと、下の要素が透けることがある */
  padding: 0.4rem 0;
}

.plus-nav {
  position: fixed;
  bottom: 70px;
  right: 0.5rem;
  z-index: 1000;
  font-size: 1.0rem;
}

.btn-nav {
  position: fixed;
  bottom: 70px;
  right: 0.5rem;
  z-index: 1000;
}

.btn-nav2 {
  position: fixed;
  bottom: 70px;
  left: 0.5rem;
  z-index: 1000;
}

.btn-nav3 {
  position: fixed;
  bottom: 70px;
  right: 4.5rem;
  z-index: 1000;
}

.btn-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233); /* 水平, 垂直, ぼかし, 色 */
}

.icon-shadow {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.233); /* 水平, 垂直, ぼかし, 色 */
}

.mb-6 {
  margin-bottom: 3.5rem; 
}

.mb-7 {
  margin-bottom: 6rem; /* 例えば 64px */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // 半透明の黒
  z-index: 1040;
}

.modal-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  z-index: 1050;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.d-none {
  display: none !important;
}

.pagination>li>a {			
  border: none;		/*枠線をなくす*/
  color: #696969;	/*文字の色を変える*/
}

.pagination>.active>a {		
  background: #93c9ff;	   /*背景の色を変える*/	
}

.list-group.no-top-rounded li:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.no-padding-left {
  padding-left: 0 !important;
}

.custom-sushi-table {
  table-layout: fixed;
  width: 100%;

  th:nth-child(1), td:nth-child(1) { // No.列
    width: 10%;
  }

  th:nth-child(2), td:nth-child(2) { // 名前
    width: 60%;
  }

  th:nth-child(3), td:nth-child(3) { // 貫数
    width: 20%;
  }
}

.flash-overlay {
  background-color: white;
  position: fixed;
  inset: 0;
  z-index: 1050;
  opacity: 1;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.flash-overlay.fade-out {
  opacity: 0;
}

.rarity-badge {
  font-size: 1rem;
  opacity: 0.9;
}

.rarity-normal {
  background-color: #21bd33; // gray
  color: #fff;
}

.rarity-rare {
  background-color: #007bff; // blue
  color: #fff;
}

.rarity-super_rare {
  background-color: #870689; // red
  color: #fff;
}

.rarity-special {
  background-color: #ffc107; // yellow
  color: #212529;
}

.btn-warning {
  font-size: 1.2rem;
  background: linear-gradient(to bottom, #ffd65c, #febf00);
  border: none;
  color: #fff;
}

.gacha-button {
  border: none;
  border-radius: 1rem;
  padding: 0;
  overflow: hidden;
  width: 140px;
  height: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: white;
  background: none;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  text-align: center;
}

.gacha-button-top,
.gacha-button-bottom {
  width: 100%; /* ←これが重要 */
  padding: 10px;
}

.gacha-button-top {
  height: 60px;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffa600, #fcb72c);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.gacha-button-bottom {
  height: 30px;
  background: linear-gradient(to bottom, #ededed, #d6d6d6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
}

.coin-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.text-smaller {
  font-size: 0.75rem;
}

.gacha-collection-bg {
  background-image: url('/images/tana.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 7 / 10.8; /* ← モダンブラウザ対応の比率指定 */
  width: 100%;
  max-width: 800px;
}

.navbar-brand {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 900;
}

body {
  font-family: 'Noto Sana JP', sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.table-summary-total {
  background-color: #CFE2FF;
  color: #000;
}